


.INF5 { background-color: #66ffa1; }
.INF10 { background-color: #ffff4d; }
.INF15 { background-color: #ffa64d; }
.INF20 { background-color: #97776f; }
.SUP20 { background-color: #b32400; }

td {
    border: 1px solid black;
    text-align: center;
    font-style: bold;
    font-family: Times New Roman;
  }

th {
    border: 1px solid black;
    text-align: center;
    background-color: rgb(7, 114, 100);
    color: white;
    font-style: bold;
    font-family: Times New Roman;
  }

div.centre {
    text-align: center;
}

div.gauche {
    text-align: left;
}

div.droite {
    text-align: right;
}

#vertf {
    color: rgb(7, 114, 100);
    font-family: Times New Roman;
}

#bleu {
    background-color: rgb(187, 240, 233);
    font-family: Times New Roman;
}

#vert {
    background-color: rgb(167, 228, 25);
    font-family: Times New Roman;
}

#rose {
    background-color: rgb(230, 127, 158);
    font-family: Times New Roman;
}

#jaune {
    background-color: rgb(227, 230, 67);
    font-family: Times New Roman;
}

#bleuf {
    background-color: rgb(54, 125, 219);
    font-family: Times New Roman;
}

#idMessage, #idMessage2 {
    color: rgb(196, 47, 47);
}

h3.rouge {
    color: rgb(114, 32, 7);
    position: absolute;
    bottom: 0px;
    font-family: Times New Roman;
}

p {
    color: black;
    font-weight: bold;
    font-family: Times New Roman;
}

span{
    font-size: 30px;
    color: black;
    font-weight: bold;
    font-family: Times New Roman;
}

input {
    background-color: rgb(207, 207, 205);
    border: 1px solid black;
    color: black;
    font-weight: bold;
    font-family: Times New Roman;
    text-align: center;
    position: absolute;
    left: 50%;
}